<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>

<a class="item">
  Messages
</a>
<div class="right menu">
  <%= link_to "Log in", login_path, class: "item" %>
  <a class="item">
    Log Out
  </a>
</div>
<div class="item">
    <div class="ui primary button">Sign Up</div>
</div>
